<div
  class="container"
  style="
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div class="row">
    <div class="column text-center">
      <img
        src="img/img.jpg"
        alt="Gambar Pacarku"
        class="img-thumbnail"
        width="200"
      />
      <h1 class="display-4">MIA</h1>
      <p class="lead">Alumni | Pacar Saya</p>
    </div>
  </div>
</div>
